name: Build and Test

on:
  workflow_call:
    outputs:
      report-file:
        value: ${{ jobs.test.outputs.report-file }}
      coverage-artifact:
        value: ${{ jobs.test.outputs.coverage-artifact }}

jobs:
  test:
    name: Test
    runs-on: macos-26
    defaults:
      run:
        working-directory: swift
    env:
      REPORT: coverage.json
      ARTIFACT: coverage-results
    outputs:
      report-file: ${{ steps.export.outputs.report }}
      coverage-artifact: ${{ steps.export.outputs.artifact }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Tests
        run: |
          set -o pipefail && xcodebuild test \
            -scheme LeetCode \
            -testPlan LeetCode \
            -destination 'platform=macOS' \
            -enableCodeCoverage YES \
            -derivedDataPath .build/ | xcbeautify

      - name: Export Coverage
        run: |
          RESULT_BUNDLE=$(find .build/Logs/Test -name "*.xcresult" | head -n 1)
          xcrun xccov view --report --json "$RESULT_BUNDLE" > "$REPORT"

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT }}
          path: swift/${{ env.REPORT }}
          retention-days: 7

      - name: Export Outputs
        id: export
        run: |
          echo "report=$REPORT" >> $GITHUB_OUTPUT
          echo "artifact=$ARTIFACT" >> $GITHUB_OUTPUT
