name: Purge CI Cache

on:
  workflow_dispatch:

permissions:
  actions: write

jobs:
  purge:
    name: Purge
    runs-on: ubuntu-latest
    steps:
      - name: Purge build caches
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Purging all build caches..."
          gh cache delete --all -R ${{ github.repository }}
          echo "Done. Next CI run will be a full build."
