name: Purge CI Cache

on:
  workflow_dispatch:

jobs:
  purge:
    name: Purge
    runs-on: ubuntu-latest
    steps:
      - name: Purge build caches
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Purging all build caches..."
          gh actions-cache delete --all xcode- -R ${{ github.repository }} --confirm
          gh actions-cache delete --all spm- -R ${{ github.repository }} --confirm
          echo "Done. Next CI run will be a full build."
